main {
    margin: auto;
    max-width: 750px;
    display: block;
}

header,footer {
    background-color: hsl(161, 50%, 23%);
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    display: block;
    color: white;
  
          
}
    h1 {
        font-size: 50px;
        font-weight: bold;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      
    }


    h2 {
        display: block;
        font-size: 30px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
body {
    
  background-color:white;
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px; 
    
}
ul {
    display: block;
    list-style-type: disc;
   font-size: 18px;
     
}

hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.profileimg {
    float: right;
    border-radius: 20px;
    margin-top: -25px;
    margin-right: 20px;
    width: 176px;
    height: 214px;
}

a {
  color: lightblue;

}