@media only screen and (min-width: 1028px) {
  main,
  header,
  footer {
    max-width: 75rem;
    margin: auto;
    border-radius: 20px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main figure {
    width: 100%;
  }


} /* end media query */
