
main {
    margin: auto;
    max-width: 750px;
    display: block;
}

header,footer {
    background-color: hsl(189, 35%, 65%);
    border-radius: 25px;
    padding: 0.5rem;
    text-align: center;
  
}

body {
    font-size: 16px;
    font-family: Geneva, Verdana, sans-serif;
    background-color:white;
    display: block;
    margin: 8px; 
    
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1 {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 45px;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 25px;
}

h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 12px;
    padding-left: 8px;
}

.profile-img {
    width: 110px;
    float: right;
    margin: 10px;
    border-radius: 8px;
    
}