
main {
    margin: auto;
    max-width: 750px;
    display: block;
}

header,footer {
    background-color: hsl(189, 35%, 65%);
    border-radius: 25px;
    padding: 0.5rem;
    text-align: center;
    display: block;
  
}
    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    h2 {
        font-size: 1.5rem;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
body {
    font-size: 16px;
    font-family: Geneva, Verdana, sans-serif;
    background-color:white;
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px; 
    
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
hr {
    border-width: 1px;
    color: rgb(5, 5, 5);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.profile-img {
    float: right;
    border-radius: 10px;
    box-shadow: 0 0 30px #444;
    width: 10em;
}