/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

/*----------- HEADER --------------*/
header {
  padding: 1.5rem 2%;
  background-color: white;
}
header img {
  float: left;
  margin-right: 10px;
  width: 50px;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #009fa5;
}
header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

/*----------- NAVIGATION --------------*/

.navWrap,.footWrap{
  background-color: #c9f9fb;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: black;
  padding: 0.8rem 2%;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
  background-color: #fff3ae;
  color: black;
}
nav ul li.active a {
  background-color: #4ac1c5;
  color: white;
}

nav ul.hide {
  display: none;
}
/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
  font-weight: 200;
}
main img {
  margin-bottom: 10px;
}

main img {
  width: 100%;
}

main section img {
  width: 250px;
}
main section {
  display: grid;
  margin: 1rem;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #eee;
  font-size: 16px;
}
main figure {
  width: 100%;
  margin: 0;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #c9f9fb;
  padding: 0.5rem 2%;
  text-align: center;
  color: black;
}

footer a{
  
  color:#4ac1c5;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
