/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  main,
  nav,
  footer {
    max-width: 64rem;
    margin: auto;
  }

  

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/

   /*----------- HOME CARDS --------------*/
   #cards {display: grid; grid-template-columns: 1fr 1fr 1fr;}
   #cards div {display: block;}
   #cards div section h3 {font-size: 12px; margin-top: 0%;}
  /*----------- FOOTER --------------*/
}
/* end of media query */
