/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  main,
  nav,
  footer {
    max-width: 64rem;
    margin: auto;
  }

  

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
  #weatherforecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 75%;
    margin: 0;
  }
  /*----------- FOOTER --------------*/
}
/* end of media query */
