/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  main,
  nav,
  footer {
    max-width: 64rem;
    margin: auto;
  }
  .gallerydiv {
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  
  .gallery img:hover {box-shadow: 0 0 50px #333;}

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
form label.sbs{
  padding: .4rem 0;
}
  /*----------- FOOTER --------------*/
}
/* end of media query */
