/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
  header,
  main,
  nav,
  footer {
    max-width: 75rem;
    margin: auto;
  }

  
  /*----------- HEADER --------------*/
 
/*----------- NAVIGATION --------------*/

nav {
  margin: auto;
  background-color: #107665;
}

nav button {
  display: none;
}

nav ul.hide {
  display: block;
}
nav ul {
  margin-left: 2.6%;
}

nav ul li {
  float: left;
}

nav ul li a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.6rem 4rem;
}

  /*----------- BODY --------------*/

  form label.sbs{
    padding: .4rem 0;
  }

/*----------- DIRECTORY PAGE --------------*/

  .gallerydiv {
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  
  .gallery img:hover {box-shadow: 0 0 50px #333;}

  /*----------- JOIN PAGE --------------*/

  .membership div{
    box-shadow: 0 0 5px rgb(128, 128, 128);
  }


  /*-----------HOME PAGE --------------*/
  
  .weathersum {
    position: absolute;
    top: 5em;
    left: 50em;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 30px #333;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
  }
  
  #weatherforecast {
    margin-left: 16em;
    
  }
   /*----------- HOME CARDS --------------*/
   #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #cards div {
    display: block;
  }
  #cards div section h3 {
    margin-top: 0%;
  }
  #cards div figure img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #333;
    border-radius: 50%;}
    
  /*----------- MESA PAGE --------------*/
  
  .aboutmesa{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutmesa img {
    margin-top: -15px;
  }
  /*----------- FOOTER --------------*/
}
/* end of media query */
