/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  /*----------- HEADER ALL --------------*/
  header img {
    margin-left: 2px;
    margin-top: 10px;
  }
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.5rem;
  }

  header,
  main {
    max-width: 64rem;
    margin: auto;
  }

  /*----------- MAIN --------------*/

  /*----------- JOIN PAGE --------------*/

  .joinimage {
    display: block;
    float: right;
    margin-top: 0.8em;
  }

  .membership {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5em;
  }
  .membership div {
    margin: 0;
  }

  .joinimage img {
    margin-left: 1em;
    margin-top: 0.4em;
    border-radius: 10px;
  }

  /*----------- CONTACT PAGE --------------*/
  .email {
    display: block;
    float: left;
  }

  .email img {
    margin-top: 2em;
  }

  /*----------- HOME PAGE --------------*/

  .joinbtnsmall img {
    display: none;
  }

  .joinbtn img {
    display: block;
    width: 60%;
    margin-top: 3em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .contactus {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
  }
  .contactus iframe {
    grid-column: 3/4;
  }

    .fiveday {
    display: grid;
  }
  #weatherforecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 10em;
    max-width: 50%;
    padding: 5px;
  }

  .welcomecoc img {
    float: left;
    width: 50%;
    margin-right: 15px;
    margin-bottom: 15px;
  }
.welcomecoc{
  margin-bottom: 10px;
}
  /*----------- DIRECTORY PAGE --------------*/

  .gallerydiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    column-gap: 2%;
    margin: 2%;
    margin-bottom: 0;
  }
  .board {
    column-gap: 2%;
    margin: 2%;
    margin-bottom: 0;
  }

  /*----------- HOME CARDS --------------*/
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*----------- MESA PAGE --------------*/

  .aboutmesa img {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
      }
  /*----------- FOOTER --------------*/

  /* end of media query */
}
